@import url('styles/header.css');
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topics.css");
@import url("styles/contact.css");
@import url("styles/footer.css");

:root{
    --color-background-default: #EBECEE;
    --color-surface-default: #ffffff;
    --color-surface-inverted: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --color-button-bg-default: #EB9B00;
    --color-text-button-default: #ffffff;
    --color-text-body-default: #000000;
    --color-text-body-inverted: #ffffff;
    --color-text-heading-primary: #002F52;
    --color-text-heading-secondary: #EB9B00;
    --color-icon-primary:#002F52;
    --color-icon-secondary: #ffffff;
    --color-icon-tertiary: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --color-border-input-default: #ffffff;
    --color-border-input-inverted: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --font-family: "Poppins", sans-serif;
    --font-secondary: "Josefin Sans", sans-serif;
    --font-weigth-light: 300;
    --font-weigth-regular: 400;
    --font-weigth-medium: 500;
    --font-weigth-bold: 700;
    --font-size-body-default: 16px;
    --font-size-body-small: 14px;
    --font-size-body-large: 18px;

    --font-size-title: 36px;
    --font-size-subtitle: 26px;
    --font-size-label: 24px;

}

body{
    background-color: var(--color-background-default);
    font-family: var(--font-family);
}


