.carousels__title{
    color: var(--color-text-heading-secondary);
    background-color: var(--color-surface-default);
    text-align: center;
    padding: 20px 0px 8px 0px;
    font-size: var(--font-size-body-large);
    font-weight: var(--font-weigth-bold);
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card__description{
    display: flex;
    justify-content: space-between;
}

.card__actions{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    text-align: center;
}

.buttons__list{
    display: flex;
    
}

.card{
    background-color: var(--color-surface-default);
    padding: 1em;
    margin: 0.5em 1.5em 1em 1.5em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description{
    margin-right: 1em;
}

.card__title{
    color: var(--color-text-heading-secondary);
    font-size: var(--font-size-body-default);
    font-weight: var(--font-weigth-bold);

}

.card__book-title{
    color: var(--color-text-heading-primary);
    font-size: var(--font-size-body-large);
    font-weight: var(--font-weigth-bold);
    margin: 0.5em 0;
}

.card__text{
    color: var(--color-text-body-default);
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weigth-regular);
    
}

.buttons__list{
    display: flex;
    gap: 24px;
}

.card__link{
    background-color: var(--color-button-bg-default);
    color: var(--color-text-button-default);
    font-size: var(--font-size-body-default);
    font-weight: var(--font-weigth-bold);
    padding: 1em 2.2em;
    text-decoration: none;
}

